
/*===== css bootstrap custom =====*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.clearfix{
	clear: both;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9{
	position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
@media ( min-width: 768px ){
	
	.col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9 {
		float: left;
	}
	.col-sm-1 {
    width: 8.33333333%;
	}
	.col-sm-2 {
		width: 16.66666667%;
	}
	.col-sm-3 {
		width: 25%;
	}
	.col-sm-4 {
		width: 33.33333333%;
	}
	.col-sm-6 {
		width: 50%;
	}
	.col-sm-5 {
		width: 41.66666667%;
	}
	.col-sm-7 {
		width: 58.33333333%;
	}
	.col-sm-8 {
		width: 66.66666667%;
	}
	.col-sm-9 {
		width: 75%;
	}
}

/*===== css size template =====*/
.page-main{
	max-width: 980px;
	margin: 0 auto;
	background-color: #fffefe;
	padding: 15px;
	margin-top: 20px;
	margin-bottom: 20px;
	position: relative;
}

/*===== css common =====*/
img, object, video, embed {
    height: auto;
    max-width: 100%;
}
img {
    border: 0;
}
body{
	background: #f0f0f0;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', Helvetica, Arial;
    line-height: 24px;
    font-size: 14px;
    font-weight: 400;
    color: #404040;
	letter-spacing: .05rem;
	position: relative;
}
a{
	color: #4373cc;
}
a:hover{
	color: #335aa2;
}
p{
	margin: 5px 0;
}
.title{
	text-transform: uppercase;
	color: #202020;
}
.title span{
	color: #E84C3D;
}
.title h3 span{
	color: #404040;
}
/*====== css page =====*/
.traslate{
	position: absolute;
    top: 0;
    right: 0;
    padding: 10px 15px;
}
.traslate span{
	cursor: pointer;
}
.traslate span:hover{
	text-decoration: underline;
}
.page-top, .page-bottom, .page-center{
	overflow: hidden;
}
.has-child .content{
	padding-left: 15px;
}

.skill {
    position: relative;
    margin-bottom: 40px;
}
.skill > .percent {
    position: absolute;
    top: 0;
    right: 0;
}
.skill-bar {
    padding: 2px;
    border: solid 1px #D0D0D0;
}
p.name {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 22px;
}
p.name span{ color: #E84C3D; }
/*==== css animation skill ====*/
.skill-bar > div {
    background: #202020;
    height: 10px;
}
.html div.run{
	-moz-animation: html 3s ease-out;
    -webkit-animation: html 3s ease-out;
}
.jquery div.run{
	-moz-animation: jquery 3.2s ease-out;
    -webkit-animation: jquery 3.2s ease-out;
}
.php div.run{
	-moz-animation: php 2.8s ease-out;
    -webkit-animation: php 2.8s ease-out;
}
.mysql div.run{
	-moz-animation: mysql 2.7s ease-out;
    -webkit-animation: mysql 2.7s ease-out;
}
.psd div.run, .git div.run, .angulajs div.run{
	-moz-animation: likes 2.5s ease-out;
    -webkit-animation: likes 2.5s ease-out;
}

@-moz-keyframes html {
    0% {
        width: 0px;
    }

    100% {
        width: 90%;
    }
}
@-webkit-keyframes html {
    0% {
        width: 0px;
    }

    100% {
        width: 90%;
    }
}

@keyframes html {
    0% {
        width: 0px;
    }

    100% {
        width: 90%;
    }
}

@-moz-keyframes jquery {
    0% {
        width: 0px;
    }

    100% {
        width: 95%;
    }
}
@-webkit-keyframes jquery {
    0% {
        width: 0px;
    }

    100% {
        width: 95%;
    }
}

@keyframes jquery {
    0% {
        width: 0px;
    }

    100% {
        width: 95%;
    }
}

@-moz-keyframes likes {
    0% {
        width: 0px;
    }

    100% {
        width: 70%;
    }
}
@-webkit-keyframes likes {
    0% {
        width: 0px;
    }

    100% {
        width: 70%;
    }
}

@keyframes likes {
    0% {
        width: 0px;
    }

    100% {
        width: 70%;
    }
}

@-moz-keyframes php {
    0% {
        width: 0px;
    }

    100% {
        width: 85%;
    }
}
@-webkit-keyframes php {
    0% {
        width: 0px;
    }

    100% {
        width: 85%;
    }
}

@keyframes php {
    0% {
        width: 0px;
    }

    100% {
        width: 85%;
    }
}
@-moz-keyframes mysql {
    0% {
        width: 0px;
    }

    100% {
        width: 80%;
    }
}
@-webkit-keyframes mysql {
    0% {
        width: 0px;
    }

    100% {
        width: 80%;
    }
}

@keyframes mysql {
    0% {
        width: 0px;
    }

    100% {
        width: 80%;
    }
}


/*====== css grid item in PORTFOLIO =====*/
#tabs{
	overflow: hidden;
	border: 0;
}
.ui-widget-header{
	background: transparent;
    border: 0;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
	border-radius: 0;
	background: transparent;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active{
	border: 0;
    background: #2d2d2d;
	border-color: transparent;
}
.ui-tabs-anchor:active, .ui-tabs-anchor:focus{
     outline:none;
}
.ui-tabs .ui-tabs-nav{
	padding-left: 0px;
    border-bottom: 1px solid;
    border-radius: 0;
    margin: 0 20px;
}
.grid .item{
	display: inline-block;
	float:left;
	width: 49%;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.298039);
	margin-bottom: 20px;
	position: relative;
}
.grid .item:nth-of-type(2n+1) {
    margin-right: 1%;
}
.grid .item:nth-of-type(2n+2) {
    margin-left: 1%;
}

.grid .item .image-demo{
	height: 300px;
	max-height: 300px;
	overflow: hidden;
	background-size: 100%;
    background-position: 0 0;
}
.image-demo-1{
	background: url('../images/CBW_home_3.jpg') no-repeat center center; 
}
.image-demo-2{
	background: url('../images/01_home01.jpg') no-repeat center center; 
}
.image-demo-3{
	background: url('../images/ocdskateshop.com.au.jpg') no-repeat center center;
}
.image-demo-4{
	background: url('../images/paperdolls.boutique_accessories.html.png') no-repeat center center; 
}
.image-demo-quick_view{
	background: url('../images/extenstions/qk_view-3.PNG') no-repeat center center; 
}
.image-demo-megamenu{
	background: url('../images/extenstions/3.PNG') no-repeat center center; 
}
.grid .item  a{
	position: absolute;
	top: 0;
	left:0;
	right: 0;
	bottom: 0;
	background: rgba(20,20,20,.80);
    z-index: 9;
    opacity: 0;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
	text-decoration: none;
	color: #fff;
	text-align: center;
}
.grid .item  a:hover, .grid .item  a:hover .detail > h4, .grid .item  a:hover .detail > .view-link{
	opacity: 1;
	transform: translateY(0);
}
.detail > .view-link:hover{
	background: #fff;
	box-shadow: none;
	color:#31302b;
	box-shadow:inset 0 100px 0 0 #fff;
	-webkit-transition: .4s;
    -moz-transition: .4s;
    transition: .4s;
}
.grid .item  a .detail{
	position: absolute;
	display: block;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.detail > h4{
	-webkit-transition: all 0.3s ease 0.2s;
    -moz-transition: all 0.3s ease 0.2s;
    transition: all 0.3s ease 0.2s;
	text-transform: uppercase;
}
.view-link{
	padding: 10px 20px;
	border: 1px solid #fff;
    -webkit-transition: all .3s .3s ease;
    -moz-transition: all .3s .3s ease;
    transition: all .3s .3s ease;
	background: transparent;
	text-transform: uppercase;
	font-weight: bold;
	border-radius: 2px;
	box-shadow: inset 0 0 0 0 #fff;
	cursor: pointer;
}
.view-link, .detail > h4{
	opacity: 0;
    transform: translateY(15px);
}

/*=== css for slide show detailt ====*/

#slider-wrapper {
	width:800px;
	height:85%;
	max-height: 600px;
	position: fixed;
	top: 0;
    bottom: 0;
    margin: auto;
    left: 0;
    right: 0;
	display: none;
	box-shadow: 0px 0px 5px 2px #222;
	z-index: 10;
    padding: 4px;
    box-sizing: content-box;
	background: #fff;
}
.loading-mask {
    bottom: 0;
    left: 0;
    margin: auto;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9;
    background: rgba(255,255,255,0.6);
}
#slider {width:800px; height:100%; position:relative;}
.sp {width:800px; height:100%; position:absolute; background-size: 100% !important; }
.sp.megamenu { background-color: #000; }

.nav {
	width:100%;
	position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}
.nav > div{
	background: #211717;
    padding: 3px 10px;
    color: #fffefe;
    text-transform: capitalize;
	border-radius: 2px;
	cursor: pointer;
}
#button-previous {float:left; margin-left: -50px; }
#button-next {float:right; margin-right: -50px;  }
.sp.megamenu-0{
	background:  url('../images/extenstions/2.PNG') no-repeat ; 
}
.sp.megamenu-1{
	background: url('../images/extenstions/1.PNG') no-repeat; 
}
.sp.megamenu-2{
	background: url('../images/extenstions/3.PNG') no-repeat ; 
}
.sp.quick-view-0{
	background: url('../images/extenstions/qk_view-3.PNG') no-repeat ; 
}
.sp.quick-view-1{
	background: url('../images/extenstions/qk_view-0.PNG') no-repeat ; 
}
.sp.quick-view-2{
	background: url('../images/extenstions/qk_view-2.PNG') no-repeat ; 
}
.image-demo-locator{
	background: url('../images/extenstions/locator-4.PNG') no-repeat ; 
}
.sp.locator-0{
	background: url('../images/extenstions/locator-4.PNG') no-repeat ; 
}
.sp.locator-1{
	background: url('../images/extenstions/locator-0.PNG') no-repeat ; 
}
.sp.locator-2{
	background: url('../images/extenstions/locator-1.PNG') no-repeat ; 
}
.sp.locator-3{
	background: url('../images/extenstions/locator-3.PNG') no-repeat ; 
}
.sp.locator-4{
	background: url('../images/extenstions/locator-4.PNG') no-repeat ; 
}
.sp.locator-5{
	background: url('../images/extenstions/locator-5.PNG') no-repeat ; 
}
.image-demo-popup{
	background: url('../images/extenstions/popup-3.PNG') no-repeat ; 
}
.sp.popup-0{
	background: url('../images/extenstions/popup-1.PNG') no-repeat ; 
}
.sp.popup-1{
	background: url('../images/extenstions/popup-2.PNG') no-repeat ; 
}
.sp.popup-2{
	background: url('../images/extenstions/popup-3.PNG') no-repeat ; 
}
.image-demo-form{
	background: url('../images/extenstions/form-3.PNG') no-repeat ; 
}
.sp.form-0{
	background: url('../images/extenstions/form-1.PNG') no-repeat ; 
}
.sp.form-1{
	background: url('../images/extenstions/form-2.PNG') no-repeat ; 
}
.sp.form-2{
	background: url('../images/extenstions/form-3.PNG') no-repeat ; 
}
.image-demo-login{
    background: url('../images/extenstions/popup-login.png') no-repeat ;
}
.sp.login-0{
    background: url('../images/extenstions/register-social-login.png');
}
.sp.login-1{
    background: url('../images/extenstions/social-login-checkout.png');
}
.sp.login-2{
    background: url('../images/extenstions/login-social-login.png');
}
.sp.login-3{
    background: url('../images/extenstions/grid-social-account.png');
}
.sp.login-4{
    background: url('../images/extenstions/config_social_login.png');
}
.download-cv{
    position: fixed;
    right: 63px;
    top: 50%;
    z-index: 90;
}
.download-cv a{
    color: #333;
    text-decoration: none;
    padding: 10px;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
    -webkit-transition: all .3s .3s ease;
    -moz-transition: all .3s .3s ease;
    transition: all .3s .3s ease;
    display: block;
    margin-bottom: 10px;
}
.download-cv a:hover {
    transition: .4s;
    background: #e8575b;
    color: #fff;
}